.heart {
  width: 50px;
  height: 50px;
  background-color: pink; 
  mask: url('../assets/empty_heart.png') no-repeat center center;
  mask-size: contain;
  -webkit-mask: url('../assets/empty_heart.png') no-repeat center center;
  -webkit-mask-size: contain;
  cursor: pointer;
}

.heart:hover{
  background-color: red;
}

.heart.red {
  background-color: red; /* Red color when active */
}
