.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}



.card {
  background-color: lightblue;
  border-radius: 15px;
  padding: 25px 25px;
  display: block;
  width: 625px;
  height: 100px; 
  transition: 0.7s;
  margin: 10px 0px
}